text {
  font-family: System-Regular; 
  fill: white; 
  x: 50%;
  y: 50%+15;
  text-anchor: middle;
  font-size: 75; 
  font-weight: bold;
  text-length: 75;
}


image{
  width:30;
  height: 30;
  fill: teal;
}

/*.text{
  

  
}*/